In [5]:
import pandas as pd
d={"roll":[1,2,3,4,5],"name":["a","b","c","d","e"],"marks":[11,13,12,15,16]}

In [7]:
df=pd.DataFrame(d)
print(df)

#iloc

#dataframe.iloc[row,col]

print(df.iloc[1,1])

   roll name  marks
0     1    a     11
1     2    b     13
2     3    c     12
3     4    d     15
4     5    e     16
b

In [10]:
print(df.iloc[[1,3],[0,1,2]])

   roll name  marks
1     2    b     13
3     4    d     15

In [11]:
print(df.iloc[[1,3],:])

   roll name  marks
1     2    b     13
3     4    d     15

In [12]:
print(df.iloc[1::2,:])

   roll name  marks
1     2    b     13
3     4    d     15

In [15]:
#loc

#dataframe.loc[row,col]
#row=>index
#col=>column name


print(df.loc[1,"name"])
print(df.loc[1::2])
print(df.loc[[1,2,3],["name","marks"]])

b
   roll name  marks
1     2    b     13
3     4    d     15
  name  marks
1    b     13
2    c     12
3    d     15

In [1]:
import pandas as pd
d={"name":["a","b","c","d"],"roll":[1,2,3,4]}
d

{'name': ['a', 'b', 'c', 'd'], 'roll': [1, 2, 3, 4]}

In [2]:
df=pd.DataFrame(d)
print(df)

name=df["name"]
print(name)
print(type(name))



print(df.name)
print(df[["name","roll"]])

  name  roll
0    a     1
1    b     2
2    c     3
3    d     4
0    a
1    b
2    c
3    d
Name: name, dtype: object
<class 'pandas.core.series.Series'>
0    a
1    b
2    c
3    d
Name: name, dtype: object
  name  roll
0    a     1
1    b     2
2    c     3
3    d     4

In [16]:
df.to_csv("data.csv")

In [21]:
import os
os.chdir("D:\Data Science\Latest Data Science Material\Association Rules\Datasets")
os.listdir()

['Titanic.csv']

In [23]:
df=pd.read_("Titanic.csv")
df

     Class  Gender    Age Survived
0      3rd    Male  Child       No
1      3rd    Male  Child       No
2      3rd    Male  Child       No
3      3rd    Male  Child       No
4      3rd    Male  Child       No
...    ...     ...    ...      ...
2196  Crew  Female  Adult      Yes
2197  Crew  Female  Adult      Yes
2198  Crew  Female  Adult      Yes
2199  Crew  Female  Adult      Yes
2200  Crew  Female  Adult      Yes

[2201 rows x 4 columns]

In [25]:
#isna
print(df.isna())
print(df.isna().sum())

      Class  Gender    Age  Survived
0     False   False  False     False
1     False   False  False     False
2     False   False  False     False
3     False   False  False     False
4     False   False  False     False
...     ...     ...    ...       ...
2196  False   False  False     False
2197  False   False  False     False
2198  False   False  False     False
2199  False   False  False     False
2200  False   False  False     False

[2201 rows x 4 columns]
Class       0
Gender      0
Age         0
Survived    0
dtype: int64

In [28]:
df=df.dropna()
df

     Class  Gender    Age Survived
0      3rd    Male  Child       No
1      3rd    Male  Child       No
2      3rd    Male  Child       No
3      3rd    Male  Child       No
4      3rd    Male  Child       No
...    ...     ...    ...      ...
2196  Crew  Female  Adult      Yes
2197  Crew  Female  Adult      Yes
2198  Crew  Female  Adult      Yes
2199  Crew  Female  Adult      Yes
2200  Crew  Female  Adult      Yes

[2201 rows x 4 columns]

In [ ]:
#fillna
df=df.fillna(1)

In [4]:
data = pd.read_csv("D:/Symbiosis/Dataset/covid_19_india.csv")

data.head()

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,30/01/20,6:00 PM,Kerala,1,0,0,0,1
1,2,31/01/20,6:00 PM,Kerala,1,0,0,0,1
2,3,01/02/20,6:00 PM,Kerala,2,0,0,0,2
3,4,02/02/20,6:00 PM,Kerala,3,0,0,0,3
4,5,03/02/20,6:00 PM,Kerala,3,0,0,0,3

In [8]:
teams=data.groupby("State/UnionTerritory")
print(teams.groups)

{'Andaman and Nicobar Islands': [365, 392, 420, 447, 474, 502, 530, 559, 588, 619, 649, 679, 709, 740, 771, 802, 833, 864, 895, 927, 959, 992, 1025, 1058, 1091, 1124, 1157, 1190, 1222, 1254, 1286, 1318, 1350, 1382, 1414, 1446, 1478, 1510, 1542, 1574, 1606, 1638, 1671, 1704, 1737, 1770, 1803, 1836, 1869, 1902, 1935, 1968, 2001, 2034, 2067, 2100, 2134, 2168, 2202, 2236, 2271, 2306, 2342, 2378, 2414, 2450, 2486, 2522, 2558, 2594, 2630, 2666, 2702, 2738, 2774, 2810, 2846, 2882, 2919, 2955, 2991, 3027, 3063, 3099, 3135, 3171, 3207, 3243, 3279, 3315, 3351, 3387, 3423, 3459, 3495, 3531, 3567, 3603, 3639, 3675, ...], 'Andhra Pradesh': [121, 134, 147, 148, 162, 177, 192, 209, 228, 248, 270, 293, 316, 340, 366, 393, 419, 446, 473, 501, 529, 558, 587, 618, 648, 678, 708, 739, 770, 801, 832, 863, 894, 926, 960, 993, 1026, 1059, 1092, 1125, 1158, 1191, 1223, 1255, 1287, 1319, 1351, 1383, 1415, 1447, 1479, 1511, 1543, 1575, 1607, 1639, 1672, 1705, 1738, 1771, 1804, 1837, 1870, 1903, 1936, 1969, 2002, 2035, 2068, 2101, 2135, 2169, 2203, 2237, 2272, 2307, 2343, 2379, 2415, 2451, 2487, 2523, 2559, 2595, 2631, 2667, 2703, 2739, 2775, 2811, 2847, 2883, 2920, 2956, 2992, 3028, 3064, 3100, 3136, 3172, ...], 'Arunachal Pradesh': [589, 620, 650, 680, 710, 741, 772, 803, 834, 865, 896, 928, 961, 994, 1027, 1060, 1093, 1126, 1159, 1192, 1224, 1256, 1288, 1320, 1352, 1384, 1416, 1448, 1480, 1512, 1544, 1576, 1608, 1640, 1673, 1706, 1739, 1772, 1805, 1838, 1871, 1904, 1937, 1970, 2003, 2036, 2069, 2102, 2136, 2170, 2204, 2238, 2273, 2308, 2344, 2380, 2416, 2452, 2488, 2524, 2560, 2596, 2632, 2668, 2704, 2740, 2776, 2812, 2848, 2884, 2921, 2957, 2993, 3029, 3065, 3101, 3137, 3173, 3209, 3245, 3281, 3317, 3353, 3389, 3425, 3461, 3497, 3533, 3569, 3605, 3641, 3677, 3713, 3749, 3785, 3821, 3857, 3893, 3929, 3965, ...], 'Assam': [531, 560, 590, 621, 651, 681, 711, 742, 773, 804, 835, 866, 897, 929, 962, 995, 1028, 1061, 1094, 1127, 1160, 1193, 1225, 1257, 1289, 1321, 1353, 1385, 1417, 1449, 1481, 1513, 1545, 1577, 1609, 1641, 1674, 1707, 1740, 1773, 1806, 1839, 1872, 1905, 1938, 1971, 2004, 2037, 2070, 2103, 2137, 2171, 2205, 2239, 2274, 2309, 2345, 2381, 2417, 2453, 2489, 2525, 2561, 2597, 2633, 2669, 2705, 2741, 2777, 2813, 2849, 2885, 2922, 2958, 2994, 3030, 3066, 3102, 3138, 3174, 3210, 3246, 3282, 3318, 3354, 3390, 3426, 3462, 3498, 3534, 3570, 3606, 3642, 3678, 3714, 3750, 3786, 3822, 3858, 3894, ...], 'Bihar': [271, 294, 317, 341, 367, 394, 421, 448, 475, 503, 532, 561, 591, 622, 652, 682, 712, 743, 774, 805, 836, 867, 898, 930, 963, 996, 1029, 1062, 1095, 1128, 1161, 1194, 1226, 1258, 1290, 1322, 1354, 1386, 1418, 1450, 1482, 1514, 1546, 1578, 1610, 1642, 1675, 1708, 1741, 1774, 1807, 1840, 1873, 1906, 1939, 1972, 2005, 2038, 2071, 2104, 2138, 2172, 2206, 2240, 2275, 2310, 2346, 2382, 2418, 2454, 2490, 2526, 2562, 2598, 2634, 2670, 2706, 2742, 2778, 2814, 2850, 2886, 2923, 2959, 2995, 3031, 3067, 3103, 3139, 3175, 3211, 3247, 3283, 3319, 3355, 3391, 3427, 3463, 3499, 3535, ...], 'Cases being reassigned to states': [2133, 2167, 2201, 2235, 2270, 2305, 2341, 2377, 2413, 2449, 2485, 2521, 2557, 2593, 2629, 2665, 2701, 2737, 2773, 2809, 2845, 2881, 2918, 2954, 2990, 3026, 3062, 3098, 3134, 3170, 3206, 3242, 3278, 3314, 3350, 3386, 3422, 3458, 3494, 3530, 3566, 3602, 3638, 3674, 3710, 3746, 3782, 3818, 3854, 3890, 3926, 3962, 3998, 4034, 4070, 4106, 4142, 4178, 4214, 4250], 'Chandigarh': [222, 242, 264, 287, 310, 334, 359, 368, 395, 422, 449, 476, 504, 533, 562, 592, 623, 653, 683, 713, 744, 775, 806, 837, 868, 899, 931, 964, 997, 1030, 1063, 1096, 1129, 1162, 1195, 1227, 1259, 1291, 1323, 1355, 1387, 1419, 1451, 1483, 1515, 1547, 1579, 1611, 1643, 1676, 1709, 1742, 1775, 1808, 1841, 1874, 1907, 1940, 1973, 2006, 2039, 2072, 2105, 2139, 2173, 2207, 2241, 2276, 2311, 2347, 2383, 2419, 2455, 2491, 2527, 2563, 2599, 2635, 2671, 2707, 2743, 2779, 2815, 2851, 2887, 2924, 2960, 2996, 3032, 3068, 3104, 3140, 3176, 3212, 3248, 3284, 3320, 3356, 3392, 3428, ...], 'Chandigarh***': [8421], 'Chhattisgarh': [210, 229, 249, 272, 295, 318, 342, 369, 396, 423, 450, 477, 505, 534, 563, 593, 624, 654, 684, 714, 745, 776, 807, 838, 869, 900, 932, 965, 998, 1031, 1064, 1097, 1130, 1163, 1196, 1228, 1260, 1292, 1324, 1356, 1388, 1420, 1452, 1484, 1516, 1548, 1580, 1612, 1644, 1677, 1710, 1743, 1776, 1809, 1842, 1875, 1908, 1941, 1974, 2007, 2040, 2073, 2106, 2140, 2174, 2208, 2242, 2277, 2312, 2348, 2384, 2420, 2456, 2492, 2528, 2564, 2600, 2636, 2672, 2708, 2744, 2780, 2816, 2852, 2888, 2925, 2961, 2997, 3033, 3069, 3105, 3141, 3177, 3213, 3249, 3285, 3321, 3357, 3393, 3429, ...], 'Dadar Nagar Haveli': [1645, 1678, 1711, 1744, 1777, 1810, 1843, 1876, 1909, 1942, 1975, 2008, 2041, 2074, 2107, 2141, 2175, 2209, 2243, 2278, 2313, 2349, 2385, 2421, 2457, 2493, 2529, 2565, 2601, 2637, 2673, 2709, 2745, 2781, 2817, 2853, 2889], 'Dadra and Nagar Haveli and Daman and Diu': [2926, 2962, 2998, 3034, 3070, 3106, 3142, 3178, 3214, 3250, 3286, 3322, 3358, 3394, 3430, 3466, 3502, 3538, 3574, 3610, 3646, 3682, 3718, 3754, 3790, 3826, 3862, 3898, 3934, 3970, 4006, 4042, 4078, 4114, 4150, 4186, 4222, 4258, 4293, 4328, 4363, 4398, 4433, 4468, 4503, 4538, 4573, 4608, 4643, 4678, 4713, 4748, 4783, 4818, 4853, 4888, 4923, 4958, 4993, 5028, 5063, 5098, 5133, 5168, 5203, 5238, 5273, 5308, 5343, 5378, 5413, 5448, 5483, 5518, 5553, 5588, 5623, 5658, 5693, 5728, 5763, 5798, 5833, 5868, 5903, 5938, 5973, 6008, 6043, 6078, 6113, 6148, 6183, 6218, 6253, 6288, 6323, 6358, 6393, 6428, ...], 'Daman & Diu': [2890], 'Delhi': [34, 38, 42, 45, 51, 62, 71, 84, 87, 98, 109, 122, 135, 149, 163, 178, 193, 211, 230, 250, 273, 296, 319, 343, 370, 397, 424, 451, 478, 506, 535, 564, 594, 625, 655, 685, 715, 746, 777, 808, 839, 870, 901, 933, 966, 999, 1032, 1065, 1098, 1131, 1164, 1197, 1229, 1261, 1293, 1325, 1357, 1389, 1421, 1453, 1485, 1517, 1549, 1581, 1613, 1646, 1679, 1712, 1745, 1778, 1811, 1844, 1877, 1910, 1943, 1976, 2009, 2042, 2075, 2108, 2142, 2176, 2210, 2244, 2279, 2314, 2350, 2386, 2422, 2458, 2494, 2530, 2566, 2602, 2638, 2674, 2710, 2746, 2782, 2818, ...], 'Goa': [371, 398, 425, 452, 479, 507, 536, 565, 595, 626, 656, 686, 716, 747, 778, 809, 840, 871, 902, 934, 967, 1000, 1033, 1066, 1099, 1132, 1165, 1198, 1230, 1262, 1294, 1326, 1358, 1390, 1422, 1454, 1486, 1518, 1550, 1582, 1614, 1647, 1680, 1713, 1746, 1779, 1812, 1845, 1878, 1911, 1944, 1977, 2010, 2043, 2076, 2109, 2143, 2177, 2211, 2245, 2280, 2315, 2351, 2387, 2423, 2459, 2495, 2531, 2567, 2603, 2639, 2675, 2711, 2747, 2783, 2819, 2855, 2892, 2928, 2964, 3000, 3036, 3072, 3108, 3144, 3180, 3216, 3252, 3288, 3324, 3360, 3396, 3432, 3468, 3504, 3540, 3576, 3612, 3648, 3684, ...], 'Gujarat': [231, 251, 274, 297, 320, 344, 372, 399, 426, 453, 480, 508, 537, 566, 596, 627, 657, 687, 717, 748, 779, 810, 841, 872, 903, 935, 968, 1001, 1034, 1067, 1100, 1133, 1166, 1199, 1231, 1263, 1295, 1327, 1359, 1391, 1423, 1455, 1487, 1519, 1551, 1583, 1615, 1648, 1681, 1714, 1747, 1780, 1813, 1846, 1879, 1912, 1945, 1978, 2011, 2044, 2077, 2110, 2144, 2178, 2212, 2246, 2281, 2316, 2352, 2388, 2424, 2460, 2496, 2532, 2568, 2604, 2640, 2676, 2712, 2748, 2784, 2820, 2856, 2893, 2929, 2965, 3001, 3037, 3073, 3109, 3145, 3181, 3217, 3253, 3289, 3325, 3361, 3397, 3433, 3469, ...], 'Haryana': [41, 46, 52, 63, 70, 83, 88, 99, 110, 123, 136, 150, 164, 179, 194, 212, 232, 252, 275, 298, 321, 345, 373, 400, 427, 454, 481, 509, 538, 567, 597, 628, 658, 688, 718, 749, 780, 811, 842, 873, 904, 936, 969, 1002, 1035, 1068, 1101, 1134, 1167, 1200, 1232, 1264, 1296, 1328, 1360, 1392, 1424, 1456, 1488, 1520, 1552, 1584, 1616, 1649, 1682, 1715, 1748, 1781, 1814, 1847, 1880, 1913, 1946, 1979, 2012, 2045, 2078, 2111, 2145, 2179, 2213, 2247, 2282, 2317, 2353, 2389, 2425, 2461, 2497, 2533, 2569, 2605, 2641, 2677, 2713, 2749, 2785, 2821, 2857, 2894, ...], 'Himachal Pradesh': [253, 276, 299, 322, 346, 374, 401, 428, 455, 482, 510, 539, 568, 598, 629, 659, 689, 719, 750, 781, 812, 843, 874, 905, 937, 970, 1003, 1036, 1069, 1102, 1135, 1168, 1201, 1233, 1265, 1297, 1329, 1361, 1393, 1425, 1457, 1489, 1521, 1553, 1585, 1617, 1650, 1683, 1716, 1749, 1782, 1815, 1848, 1881, 1914, 1947, 1980, 2013, 2046, 2079, 2112, 2146, 2180, 2214, 2248, 2283, 2318, 2354, 2390, 2426, 2462, 2498, 2534, 2570, 2606, 2642, 2678, 2714, 2750, 2786, 2822, 2858, 2895, 2931, 2967, 3003, 3039, 3075, 3111, 3147, 3183, 3219, 3255, 3291, 3327, 3363, 3399, 3435, 3471, 3507, ...], 'Jammu and Kashmir': [81, 96, 106, 117, 130, 143, 158, 173, 188, 204, 223, 243, 265, 288, 311, 335, 360, 375, 402, 429, 456, 483, 511, 540, 569, 599, 630, 660, 690, 720, 751, 782, 813, 844, 875, 906, 938, 971, 1004, 1037, 1070, 1103, 1136, 1169, 1202, 1234, 1266, 1298, 1330, 1362, 1394, 1426, 1458, 1490, 1522, 1554, 1586, 1618, 1651, 1684, 1717, 1750, 1783, 1816, 1849, 1882, 1915, 1948, 1981, 2014, 2047, 2080, 2113, 2147, 2181, 2215, 2249, 2284, 2319, 2355, 2391, 2427, 2463, 2499, 2535, 2571, 2607, 2643, 2679, 2715, 2751, 2787, 2823, 2859, 2896, 2932, 2968, 3004, 3040, 3076, ...], 'Jharkhand': [541, 570, 600, 631, 661, 691, 721, 752, 783, 814, 845, 876, 907, 939, 972, 1005, 1038, 1071, 1104, 1137, 1170, 1203, 1235, 1267, 1299, 1331, 1363, 1395, 1427, 1459, 1491, 1523, 1555, 1587, 1619, 1652, 1685, 1718, 1751, 1784, 1817, 1850, 1883, 1916, 1949, 1982, 2015, 2048, 2081, 2114, 2148, 2182, 2216, 2250, 2285, 2320, 2356, 2392, 2428, 2464, 2500, 2536, 2572, 2608, 2644, 2680, 2716, 2752, 2788, 2824, 2860, 2897, 2933, 2969, 3005, 3041, 3077, 3113, 3149, 3185, 3221, 3257, 3293, 3329, 3365, 3401, 3437, 3473, 3509, 3545, 3581, 3617, 3653, 3689, 3725, 3761, 3797, 3833, 3869, 3905, ...], 'Karnataka': [74, 89, 108, 119, 132, 145, 151, 165, 180, 195, 213, 233, 254, 277, 300, 323, 347, 376, 403, 430, 457, 484, 512, 542, 571, 601, 632, 662, 692, 722, 753, 784, 815, 846, 877, 908, 940, 973, 1006, 1039, 1072, 1105, 1138, 1171, 1204, 1236, 1268, 1300, 1332, 1364, 1396, 1428, 1460, 1492, 1524, 1556, 1588, 1620, 1653, 1686, 1719, 1752, 1785, 1818, 1851, 1884, 1917, 1950, 1983, 2016, 2049, 2082, 2115, 2149, 2183, 2217, 2251, 2286, 2321, 2357, 2393, 2429, 2465, 2501, 2537, 2573, 2609, 2645, 2681, 2717, 2753, 2789, 2825, 2861, 2898, 2934, 2970, 3006, 3042, 3078, ...], 'Kerala': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 33, 37, 40, 47, 53, 57, 69, 75, 90, 100, 111, 124, 137, 152, 166, 181, 196, 214, 234, 255, 278, 301, 324, 348, 377, 404, 431, 458, 485, 513, 543, 572, 602, 633, 663, 693, 723, 754, 785, 816, 847, 878, 909, 941, 974, 1007, 1040, 1073, 1106, 1139, 1172, 1205, 1237, 1269, 1301, 1333, 1365, 1397, 1429, 1461, 1493, 1525, 1557, 1589, 1621, 1654, 1687, 1720, ...], 'Ladakh': [59, 65, 73, 86, 104, 115, 128, 141, 159, 174, 189, 205, 224, 244, 266, 289, 312, 336, 361, 378, 405, 432, 459, 486, 514, 544, 573, 603, 634, 664, 694, 724, 755, 786, 817, 848, 879, 910, 942, 975, 1008, 1041, 1074, 1107, 1140, 1173, 1206, 1238, 1270, 1302, 1334, 1366, 1398, 1430, 1462, 1494, 1526, 1558, 1590, 1622, 1655, 1688, 1721, 1754, 1787, 1820, 1853, 1886, 1919, 1952, 1985, 2018, 2051, 2084, 2117, 2151, 2185, 2219, 2253, 2288, 2323, 2359, 2395, 2431, 2467, 2503, 2539, 2575, 2611, 2647, 2683, 2719, 2755, 2791, 2827, 2863, 2900, 2936, 2972, 3008, ...], 'Madhya Pradesh': [256, 279, 302, 325, 349, 379, 406, 433, 460, 487, 515, 545, 574, 604, 635, 665, 695, 725, 756, 787, 818, 849, 880, 911, 943, 976, 1009, 1042, 1075, 1108, 1141, 1174, 1207, 1239, 1271, 1303, 1335, 1367, 1399, 1431, 1463, 1495, 1527, 1559, 1591, 1623, 1656, 1689, 1722, 1755, 1788, 1821, 1854, 1887, 1920, 1953, 1986, 2019, 2052, 2085, 2118, 2152, 2186, 2220, 2254, 2289, 2324, 2360, 2396, 2432, 2468, 2504, 2540, 2576, 2612, 2648, 2684, 2720, 2756, 2792, 2828, 2864, 2901, 2937, 2973, 3009, 3045, 3081, 3117, 3153, 3189, 3225, 3261, 3297, 3333, 3369, 3405, 3441, 3477, 3513, ...], 'Maharashtra': [76, 91, 97, 120, 133, 146, 153, 167, 182, 197, 215, 235, 257, 280, 303, 326, 350, 380, 407, 434, 461, 488, 516, 546, 575, 605, 636, 666, 696, 726, 757, 788, 819, 850, 881, 912, 944, 977, 1010, 1043, 1076, 1109, 1142, 1175, 1208, 1240, 1272, 1304, 1336, 1368, 1400, 1432, 1464, 1496, 1528, 1560, 1592, 1624, 1657, 1690, 1723, 1756, 1789, 1822, 1855, 1888, 1921, 1954, 1987, 2020, 2053, 2086, 2119, 2153, 2187, 2221, 2255, 2290, 2325, 2361, 2397, 2433, 2469, 2505, 2541, 2577, 2613, 2649, 2685, 2721, 2757, 2793, 2829, 2865, 2902, 2938, 2974, 3010, 3046, 3082, ...], 'Maharashtra***': [8260], 'Manipur': [327, 351, 381, 408, 435, 462, 489, 517, 547, 576, 606, 637, 667, 697, 727, 758, 789, 820, 851, 882, 913, 945, 978, 1011, 1044, 1077, 1110, 1143, 1176, 1209, 1241, 1273, 1305, 1337, 1369, 1401, 1433, 1465, 1497, 1529, 1561, 1593, 1625, 1658, 1691, 1724, 1757, 1790, 1823, 1856, 1889, 1922, 1955, 1988, 2021, 2054, 2087, 2120, 2154, 2188, 2222, 2256, 2291, 2326, 2362, 2398, 2434, 2470, 2506, 2542, 2578, 2614, 2650, 2686, 2722, 2758, 2794, 2830, 2866, 2903, 2939, 2975, 3011, 3047, 3083, 3119, 3155, 3191, 3227, 3263, 3299, 3335, 3371, 3407, 3443, 3479, 3515, 3551, 3587, 3623, ...], 'Meghalaya': [946, 979, 1012, 1045, 1078, 1111, 1144, 1177, 1210, 1242, 1274, 1306, 1338, 1370, 1402, 1434, 1466, 1498, 1530, 1562, 1594, 1626, 1659, 1692, 1725, 1758, 1791, 1824, 1857, 1890, 1923, 1956, 1989, 2022, 2055, 2088, 2121, 2155, 2189, 2223, 2257, 2292, 2327, 2363, 2399, 2435, 2471, 2507, 2543, 2579, 2615, 2651, 2687, 2723, 2759, 2795, 2831, 2867, 2904, 2940, 2976, 3012, 3048, 3084, 3120, 3156, 3192, 3228, 3264, 3300, 3336, 3372, 3408, 3444, 3480, 3516, 3552, 3588, 3624, 3660, 3696, 3732, 3768, 3804, 3840, 3876, 3912, 3948, 3984, 4020, 4056, 4092, 4128, 4164, 4200, 4236, 4272, 4307, 4342, 4377, ...], 'Mizoram': [352, 382, 409, 436, 463, 490, 518, 548, 577, 607, 638, 668, 698, 728, 759, 790, 821, 852, 883, 914, 947, 980, 1013, 1046, 1079, 1112, 1145, 1178, 1211, 1243, 1275, 1307, 1339, 1371, 1403, 1435, 1467, 1499, 1531, 1563, 1595, 1627, 1660, 1693, 1726, 1759, 1792, 1825, 1858, 1891, 1924, 1957, 1990, 2023, 2056, 2089, 2122, 2156, 2190, 2224, 2258, 2293, 2328, 2364, 2400, 2436, 2472, 2508, 2544, 2580, 2616, 2652, 2688, 2724, 2760, 2796, 2832, 2868, 2905, 2941, 2977, 3013, 3049, 3085, 3121, 3157, 3193, 3229, 3265, 3301, 3337, 3373, 3409, 3445, 3481, 3517, 3553, 3589, 3625, 3661, ...], 'Nagaland': [915, 948, 981, 1014, 1047, 1080, 1113, 1146, 1179, 2329, 2365, 2401, 2437, 2473, 2509, 2545, 2581, 2617, 2653, 2689, 2725, 2761, 2797, 2833, 2869, 2906, 2942, 2978, 3014, 3050, 3086, 3122, 3158, 3194, 3230, 3266, 3302, 3338, 3374, 3410, 3446, 3482, 3518, 3554, 3590, 3626, 3662, 3698, 3734, 3770, 3806, 3842, 3878, 3914, 3950, 3986, 4022, 4058, 4094, 4130, 4166, 4202, 4238, 4274, 4309, 4344, 4379, 4414, 4449, 4484, 4519, 4554, 4589, 4624, 4659, 4694, 4729, 4764, 4799, 4834, 4869, 4904, 4939, 4974, 5009, 5044, 5079, 5114, 5149, 5184, 5219, 5254, 5289, 5324, 5359, 5394, 5429, 5464, 5499, 5534, ...], 'Odisha': [168, 183, 198, 216, 236, 258, 281, 304, 328, 353, 383, 410, 437, 464, 491, 519, 549, 578, 608, 639, 669, 699, 729, 760, 791, 822, 853, 884, 916, 949, 982, 1015, 1048, 1081, 1114, 1147, 1180, 1212, 1244, 1276, 1308, 1340, 1372, 1404, 1436, 1468, 1500, 1532, 1564, 1596, 1628, 1661, 1694, 1727, 1760, 1793, 1826, 1859, 1892, 1925, 1958, 1991, 2024, 2057, 2090, 2123, 2157, 2191, 2225, 2259, 2294, 2330, 2366, 2402, 2438, 2474, 2510, 2546, 2582, 2618, 2654, 2690, 2726, 2762, 2798, 2834, 2870, 2907, 2943, 2979, 3015, 3051, 3087, 3123, 3159, 3195, 3231, 3267, 3303, 3339, ...], 'Puducherry': [199, 217, 237, 259, 282, 305, 329, 354, 384, 411, 438, 465, 492, 520, 550, 579, 609, 640, 670, 700, 730, 761, 792, 823, 854, 885, 917, 950, 983, 1016, 1049, 1082, 1115, 1148, 1181, 1213, 1245, 1277, 1309, 1341, 1373, 1405, 1437, 1469, 1501, 1533, 1565, 1597, 1629, 1662, 1695, 1728, 1761, 1794, 1827, 1860, 1893, 1926, 1959, 1992, 2025, 2058, 2091, 2124, 2158, 2192, 2226, 2260, 2295, 2331, 2367, 2403, 2439, 2475, 2511, 2547, 2583, 2619, 2655, 2691, 2727, 2763, 2799, 2835, 2871, 2908, 2944, 2980, 3016, 3052, 3088, 3124, 3160, 3196, 3232, 3268, 3304, 3340, 3376, 3412, ...], 'Punjab': [77, 92, 107, 118, 131, 144, 154, 169, 184, 200, 218, 238, 260, 283, 306, 330, 355, 385, 412, 439, 466, 493, 521, 551, 580, 610, 641, 671, 701, 731, 762, 793, 824, 855, 886, 918, 951, 984, 1017, 1050, 1083, 1116, 1149, 1182, 1214, 1246, 1278, 1310, 1342, 1374, 1406, 1438, 1470, 1502, 1534, 1566, 1598, 1630, 1663, 1696, 1729, 1762, 1795, 1828, 1861, 1894, 1927, 1960, 1993, 2026, 2059, 2092, 2125, 2159, 2193, 2227, 2261, 2296, 2332, 2368, 2404, 2440, 2476, 2512, 2548, 2584, 2620, 2656, 2692, 2728, 2764, 2800, 2836, 2872, 2909, 2945, 2981, 3017, 3053, 3089, ...], 'Punjab***': [8442], 'Rajasthan': [36, 44, 48, 54, 64, 68, 78, 93, 101, 112, 125, 138, 155, 170, 185, 201, 219, 239, 261, 284, 307, 331, 356, 386, 413, 440, 467, 494, 522, 552, 581, 611, 642, 672, 702, 732, 763, 794, 825, 856, 887, 919, 952, 985, 1018, 1051, 1084, 1117, 1150, 1183, 1215, 1247, 1279, 1311, 1343, 1375, 1407, 1439, 1471, 1503, 1535, 1567, 1599, 1631, 1664, 1697, 1730, 1763, 1796, 1829, 1862, 1895, 1928, 1961, 1994, 2027, 2060, 2093, 2126, 2160, 2194, 2228, 2262, 2297, 2333, 2369, 2405, 2441, 2477, 2513, 2549, 2585, 2621, 2657, 2693, 2729, 2765, 2801, 2837, 2873, ...], 'Sikkim': [2263, 2298, 2334, 2370, 2406, 2442, 2478, 2514, 2550, 2586, 2622, 2658, 2694, 2730, 2766, 2802, 2838, 2874, 2911, 2947, 2983, 3019, 3055, 3091, 3127, 3163, 3199, 3235, 3271, 3307, 3343, 3379, 3415, 3451, 3487, 3523, 3559, 3595, 3631, 3667, 3703, 3739, 3775, 3811, 3847, 3883, 3919, 3955, 3991, 4027, 4063, 4099, 4135, 4171, 4207, 4243, 4279, 4314, 4349, 4384, 4419, 4454, 4489, 4524, 4559, 4594, 4629, 4664, 4699, 4734, 4769, 4804, 4839, 4874, 4909, 4944, 4979, 5014, 5049, 5084, 5119, 5154, 5189, 5224, 5259, 5294, 5329, 5364, 5399, 5434, 5469, 5504, 5539, 5574, 5609, 5644, 5679, 5714, 5749, 5784, ...], 'Tamil Nadu': [61, 67, 79, 94, 105, 116, 129, 142, 156, 171, 186, 202, 220, 240, 262, 285, 308, 332, 357, 387, 414, 441, 468, 495, 523, 553, 582, 612, 643, 673, 703, 733, 764, 795, 826, 857, 888, 920, 953, 986, 1019, 1052, 1085, 1118, 1151, 1184, 1216, 1248, 1280, 1312, 1344, 1376, 1408, 1440, 1472, 1504, 1536, 1568, 1600, 1632, 1665, 1698, 1731, 1764, 1797, 1830, 1863, 1896, 1929, 1962, 1995, 2028, 2061, 2094, 2127, 2161, 2195, 2229, 2264, 2299, 2335, 2371, 2407, 2443, 2479, 2515, 2551, 2587, 2623, 2659, 2695, 2731, 2767, 2803, 2839, 2875, 2912, 2948, 2984, 3020, ...], 'Telangana': [2949, 2985, 3021, 3057, 3093, 3129, 3165, 3201, 3237, 3273, 3309, 3345, 3381, 3417, 3453, 3489, 3525, 3561, 3597, 3633, 3669, 3705, 3741, 3777, 3813, 3849, 3885, 3921, 3957, 3993, 4029, 4065, 4101, 4137, 4173, 4209, 4245, 4281, 4316, 4351, 4386, 4421, 4456, 4491, 4561], 'Telangana***': [4526], 'Telengana': [32, 35, 43, 49, 56, 60, 66, 80, 95, 102, 113, 126, 139, 157, 172, 187, 203, 221, 241, 263, 286, 309, 333, 358, 388, 415, 442, 469, 496, 524, 554, 583, 613, 644, 674, 704, 734, 765, 796, 827, 858, 889, 921, 954, 987, 1020, 1053, 1086, 1119, 1152, 1185, 1217, 1249, 1281, 1313, 1345, 1377, 1409, 1441, 1473, 1505, 1537, 1569, 1601, 1633, 1666, 1699, 1732, 1765, 1798, 1831, 1864, 1897, 1930, 1963, 1996, 2029, 2062, 2095, 2128, 2162, 2196, 2230, 2265, 2300, 2336, 2372, 2408, 2444, 2480, 2516, 2552, 2588, 2624, 2660, 2696, 2732, 2768, 2804, 2840, ...], 'Telengana***': [4631], 'Tripura': [735, 766, 797, 828, 859, 890, 922, 955, 988, 1021, 1054, 1087, 1120, 1153, 1186, 1218, 1250, 1282, 1314, 1346, 1378, 1410, 1442, 1474, 1506, 1538, 1570, 1602, 1634, 1667, 1700, 1733, 1766, 1799, 1832, 1865, 1898, 1931, 1964, 1997, 2030, 2063, 2096, 2129, 2163, 2197, 2231, 2266, 2301, 2337, 2373, 2409, 2445, 2481, 2517, 2553, 2589, 2625, 2661, 2697, 2733, 2769, 2805, 2841, 2877, 2914, 2950, 2986, 3022, 3058, 3094, 3130, 3166, 3202, 3238, 3274, 3310, 3346, 3382, 3418, 3454, 3490, 3526, 3562, 3598, 3634, 3670, 3706, 3742, 3778, 3814, 3850, 3886, 3922, 3958, 3994, 4030, 4066, 4102, 4138, ...], 'Unassigned': [500, 528, 617], 'Uttar

In [10]:
teams.describe()

                                            Sno                            \
                                          count         mean          std
State/UnionTerritory
Andaman and Nicobar Islands               259.0  4739.880309  2618.184340
Andhra Pradesh                            273.0  4508.611722  2739.325552
Arunachal Pradesh                         251.0  4878.175299  2543.673537
Assam                                     253.0  4844.924901  2562.563623
Bihar                                     263.0  4676.273764  2654.667011
Cases being reassigned to states           60.0  3188.983333   628.542044
Chandigarh                                265.0  4613.188679  2675.429810
Chandigarh***                               1.0  8422.000000          NaN
Chhattisgarh                              266.0  4628.093985  2681.241455
Dadar Nagar Haveli                         37.0  2255.135135   374.374750
Dadra and Nagar Haveli and Daman and Diu  181.0  6110.116022  1839.629302
Daman & Diu                                 1.0  2891.000000          NaN
Delhi                                     283.0  4357.724382  2814.333892
Goa                                       259.0  4748.602317  2618.607873
Gujarat                                   265.0  4648.566038  2672.756405
Haryana                                   281.0  4391.320285  2800.730604
Himachal Pradesh                          264.0  4667.295455  2663.895724
Jammu and Kashmir                         276.0  4472.326087  2763.116681
Jharkhand                                 253.0  4855.790514  2562.765488
Karnataka                                 276.0  4473.760870  2763.985045
Kerala                                    315.0  3923.393651  2974.731807
Ladakh                                    278.0  4444.255396  2778.857046
Madhya Pradesh                            264.0  4673.215909  2664.025436
Maharashtra                               275.0  4463.840000  2759.797739
Maharashtra***                              1.0  8261.000000          NaN
Manipur                                   261.0  4725.712644  2636.979380
Meghalaya                                 240.0  5086.625000  2438.269757
Mizoram                                   260.0  4744.550000  2627.962246
Nagaland                                  207.0  5617.227053  2200.447945
Odisha                                    269.0  4595.654275  2708.165043
Puducherry                                267.0  4629.756554  2690.978934
Punjab                                    275.0  4469.650909  2759.667397
Punjab***                                   1.0  8443.000000          NaN
Rajasthan                                 282.0  4390.656028  2809.505127
Sikkim                                    200.0  5794.435000  2037.180295
Tamil Nadu                                278.0  4454.902878  2780.758043
Telangana                                  45.0  3742.155556   473.205556
Telangana***                                1.0  4527.000000          NaN
Telengana                                 236.0  4497.394068  3064.007582
Telengana***                                1.0  4632.000000          NaN
Tripura                                   247.0  4975.384615  2506.314758
Unassigned                                  3.0   549.333333    61.092826
Uttar Pradesh                             281.0  4411.647687  2803.102536
Uttarakhand                               270.0  4586.996296  2716.852761
West Bengal                               267.0  4638.516854  2691.280956

                                                                            \
                                             min      25%     50%      75%
State/UnionTerritory
Andaman and Nicobar Islands                366.0  2433.00  4742.0  6999.50
Andhra Pradesh                             122.0  2069.00  4498.0  6878.00
Arunachal Pradesh                          590.0  2651.00  4884.0  7071.50
Assam                                      532.0  2598.00  4850.0  7055.00
Bihar                                      272.0  2329.00  4676.0  6968.50
Cases being reassigned to states          2134.0  2657.00  3189.0  3720.00
Chandigarh                                 223.0  2242.00  4607.0  6917.00
Chandigarh***                             8422.0  8422.00  8422.0  8422.00
Chhattisgarh                               211.0  2251.75  4625.5  6944.25
Dadar Nagar Haveli                        1646.0  1943.00  2244.0  2566.00
Dadra and Nagar Haveli and Daman and Diu  2927.0  4539.00  6114.0  7689.00
Daman & Diu                               2891.0  2891.00  2891.0  2891.00
Delhi                                       35.0  1828.50  4330.0  6797.50
Goa                                        372.0  2442.00  4751.0  7008.50
Gujarat                                    232.0  2282.00  4647.0  6957.00
Haryana                                     42.0  1881.00  4368.0  6818.00
Himachal Pradesh                           254.0  2310.25  4666.5  6967.75
Jammu and Kashmir                           82.0  2006.75  4457.5  6863.75
Jharkhand                                  542.0  2609.00  4861.0  7066.00
Karnataka                                   75.0  2008.75  4459.5  6865.75
Kerala                                       1.0  1057.50  3764.0  6525.50
Ladakh                                      60.0  1961.25  4426.5  6850.25
Madhya Pradesh                             257.0  2316.25  4672.5  6973.75
Maharashtra                                 77.0  2004.50  4446.0  6843.50
Maharashtra***                            8261.0  8261.00  8261.0  8261.00
Manipur                                    328.0  2399.00  4727.0  7002.00
Meghalaya                                  947.0  2968.00  5095.5  7186.75
Mizoram                                    353.0  2428.00  4746.5  7012.75
Nagaland                                   916.0  3861.00  5675.0  7477.50
Odisha                                     169.0  2192.00  4591.0  6936.00
Puducherry                                 200.0  2244.00  4627.0  6954.50
Punjab                                      78.0  2010.50  4453.0  6850.50
Punjab***                                 8443.0  8443.00  8443.0  8443.00
Rajasthan                                   37.0  1871.25  4366.5  6825.25
Sikkim                                    2264.0  4055.00  5802.5  7543.75
Tamil Nadu                                  62.0  1971.25  4438.5  6862.25
Telangana                                 2950.0  3346.00  3742.0  4138.00
Telangana***                              4527.0  4527.00  4527.0  4527.00
Telengana                                   33.0  1466.00  5174.5  7230.75
Telengana***                              4632.0  4632.00  4632.0  4632.00
Tripura                                    736.0  2788.00  4983.0  7135.50
Unassigned                                 501.0   515.00   529.0   573.50
Uttar Pradesh                               40.0  1901.00  4390.0  6840.00
Uttarakhand                                162.0  2173.50  4581.5  6935.25
West Bengal                                209.0  2252.50  4636.0  6963.50

                                                  Cured                ...  \
                                             max  count          mean  ...
State/UnionTerritory                                                   ...
Andaman and Nicobar Islands               9257.0  259.0  1.662822e+03  ...
Andhra Pradesh                            9258.0  273.0  2.784819e+05  ...
Arunachal Pradesh                         9259.0  251.0  4.319004e+03  ...
Assam                                     9260.0  253.0  7.478627e+04  ...
Bihar                                     9261.0  263.0  8.247439e+04  ...
Cases being reassigned to states          4251.0   60.0  0.000000e+00  ...
Chandigarh                                9262.0  265.0  4.459321e+03  ...
Chandigarh***                             8422.0    1.0  1.438100e+04  ...
Chhattisgarh                              9263.0  266.0  4.927193e+04  ...
Dadar Nagar Haveli                        2890.0   37.0  3.783784e-01  ...
Dadra and Nagar Haveli and Daman and Diu  9264.0  181.0  1.947597e+03  ...
Daman & Diu                               2891.0    1.0  0.000000e+00  ...
Delhi                                     9265.0  283.0  1.440019e+05  ...
Goa                                       9266.0  259.0  1.434454e+04  ...
Gujarat                                   9267.0  265.0  6.632393e+04  ...
Haryana                                   9268.0  281.0  5.623149e+04  ...
Himachal Pradesh                          9269.0  264.0  6.903447e+03  ...
Jammu and Kashmir                         9270.0  276.0  2.976766e+04  ...
Jharkhand                                 9271.0  253.0  3.424367e+04  ...
Karnataka                                 9272.0  276.0  2.438941e+05  ...
Kerala                                    9273.0  315.0  9.179485e+04  ...
Ladakh                                    9274.0  278.0  1.970795e+03  ...
Madhya Pradesh                            9275.0  264.0  5.711226e+04  ...
Maharashtra                               9276.0  275.0  5.316812e+05  ...
Maharashtra***                            8261.0    1.0  1.581373e+06  ...
Manipur                                   9277.0  261.0  5.387387e+03  ...
Meghalaya                                 9278.0  240.0  2.763508e+03  ...
Mizoram                                   9279.0  260.0  8.740308e+02  ...
Nagaland                                  9280.0  207.0  3.526638e+03  ...
Odisha                                    9281.0  269.0  9.132213e+04  ...
Puducherry                                9282.0  267.0  1.061816e+04  ...
Punjab                                    9283.0  275.0  4.148610e+04  ...
Punjab***                                 8443.0    1.0  1.304060e+05  ...
Rajasthan                                 9284.0  282.0  6.369999e+04  ...
Sikkim                                    9285.0  200.0  1.671565e+03  ...
Tamil Nadu                                9286.0  278.0  2.670630e+05  ...
Telangana                                 4562.0   45.0  1.514302e+04  ...
Telangana***                              4527.0    1.0  4.033400e+04  ...
Telengana                                 9287.0  236.0  9.221211e+04  ...
Telengana***                              4632.0    1.0  4.290900e+04  ...
Tripura                                   9288.0  247.0  1.054828e+04  ...
Unassigned                                 618.0    3.0  0.000000e+00  ...
Uttar Pradesh                             9290.0  281.0  1.545622e+05  ...
Uttarakhand                               9289.0  270.0  1.901876e+04  ...
West Bengal                               9291.0  267.0  1.249671e+05  ...

                                            Deaths          Confirmed  \
                                               75%      max     count
State/UnionTerritory
Andaman and Nicobar Islands                  53.50     61.0     259.0
Andhra Pradesh                             5869.00   7042.0     273.0
Arunachal Pradesh                            20.50     55.0     251.0
Assam                                       778.00    997.0     253.0
Bihar                                       913.50   1300.0     263.0
Cases being reassigned to states              0.00      0.0      60.0
Chandigarh                                  169.00    296.0     265.0
Chandigarh***                               246.00    246.0       1.0
Chhattisgarh                               1023.75   3025.0     266.0
Dadar Nagar Haveli                            0.00      0.0      37.0
Dadra and Nagar Haveli and Daman and Diu      2.00      2.0     181.0
Daman & Diu                                   0.00      0.0       1.0
Delhi                                      5296.00   9763.0     283.0
Goa                                         458.00    701.0     259.0
Gujarat                                    3487.00   4110.0     265.0
Haryana                                    1356.00   2624.0     281.0
Himachal Pradesh                            211.75    753.0     264.0
Jammu and Kashmir                          1185.25   1761.0     276.0
Jharkhand                                   757.00    988.0     253.0
Karnataka                                  8896.50  11880.0     276.0
Kerala                                      544.00   2472.0     315.0
Ladakh                                       58.00    122.0     278.0
Madhya Pradesh                             2407.75   3358.0     264.0
Maharashtra                               36421.50  47827.0     275.0
Maharashtra***                            45325.00  45325.0       1.0
Manipur                                      74.00    311.0     261.0
Meghalaya                                    61.25    122.0     240.0
Mizoram                                       0.00      6.0     260.0
Nagaland                                     27.00     67.0     207.0
Odisha                                      875.00   1784.0     269.0
Puducherry                                  533.00    615.0     267.0
Punjab                                     3382.50   4964.0     275.0
Punjab***                                  4428.00   4428.0       1.0
Rajasthan                                  1467.25   2468.0     282.0
Sikkim                                       62.25    117.0     200.0
Tamil Nadu                                 9503.25  11822.0     278.0
Telangana                                   375.00    463.0      45.0
Telangana***                                455.00    455.0       1.0
Telengana                                  1223.50   1480.0     236.0
Telengana***                                480.00    480.0       1.0
Tripura                                     307.50    373.0     247.0
Unassigned                                    0.00      0.0       3.0
Uttar Pradesh                              5715.00   7967.0     281.0
Uttarakhand                                 633.25   1307.0     270.0
West Bengal                                5101.00   8820.0     267.0

                                                                       \
                                                  mean            std
State/UnionTerritory
Andaman and Nicobar Islands               1.867803e+03    1928.325207
Andhra Pradesh                            3.106788e+05  349426.361965
Arunachal Pradesh                         5.235406e+03    6203.396331
Assam                                     8.578491e+04   86957.346874
Bihar                                     9.084177e+04   92050.961811
Cases being reassigned to states          5.759417e+03    2695.966040
Chandigarh                                5.237275e+03    6410.531291
Chandigarh***                             1.563600e+04            NaN
Chhattisgarh                              6.034439e+04   82743.015763
Dadar Nagar Haveli                        5.027027e+00       7.365409
Dadra and Nagar Haveli and Daman and Diu  2.124961e+03    1211.047886
Daman & Diu                               2.000000e+00            NaN
Delhi                                     1.641201e+05  173514.813853
Goa                                       1.640441e+04   18353.045866
Gujarat                                   7.844852e+04   70088.524887
Haryana                                   6.427333e+04   76020.200288
Himachal Pradesh                          8.918261e+03   12039.421214
Jammu and Kashmir                         3.576270e+04   39667.978709
Jharkhand                                 3.917822e+04   43442.811011
Karnataka                                 2.875172e+05  339269.102954
Kerala                                    1.155780e+05  189182.108074
Ladakh                                    2.447982e+03    2740.997147
Madhya Pradesh                            6.645696e+04   71763.708584
Maharashtra                               6.525477e+05  682209.822295
Maharashtra***                            1.723135e+06            NaN
Manipur                                   6.852728e+03    8212.218944
Meghalaya                                 3.541142e+03    4233.800145
Mizoram                                   1.094542e+03    1271.516567
Nagaland                                  4.438430e+03    3825.525345
Odisha                                    1.018419e+05  121793.675259
Puducherry                                1.248915e+04   14696.242206
Punjab                                    4.850647e+04   57276.372378
Punjab***                                 1.406050e+05            NaN
Rajasthan                                 7.426044e+04   85501.132532
Sikkim                                    1.998835e+03    1758.914474
Tamil Nadu                                2.978041e+05  296131.949423
Telangana                                 2.393738e+04   16234.606075
Telangana***                              5.246600e+04            NaN
Telengana                                 1.054495e+05  104721.183173
Telengana***                              5.714200e+04            NaN
Tripura                                   1.249132e+04   13041.651034
Unassigned                                5.366667e+01      20.599353
Uttar Pradesh                             1.789460e+05  204163.644909
Uttarakhand                               2.249272e+04   27099.023792
West Bengal                               1.436327e+05  163250.981847

                                                                            \
                                                min         25%        50%
State/UnionTerritory
Andaman and Nicobar Islands                     1.0       33.00      636.0
Andhra Pradesh                                  1.0     2474.00    88671.0
Arunachal Pradesh                               1.0       40.00     1855.0
Assam                                           1.0     1513.00    48161.0
Bihar                                           2.0     2856.50    48477.0
Cases being reassigned to states              163.0     3863.75     6623.0
Chandigarh                                      1.0      225.00      934.0
Chandigarh***                               15636.0    15636.00    15636.0
Chhattisgarh                                    1.0      223.50     8398.0
Dadar Nagar Haveli                              1.0        1.00        2.0
Dadra and Nagar Haveli and Daman and Diu       30.0      914.00     2643.0
Daman & Diu                                     2.0        2.00        2.0
Delhi                                           1.0     7078.00   123747.0
Goa                                             3.0       69.00     6193.0
Gujarat                                         5.0    14056.00    59126.0
Haryana                                         2.0      780.00    27462.0
Himachal Pradesh                                2.0      218.00     2454.5
Jammu and Kashmir                               1.0     1094.00    16605.5
Jharkhand                                       1.0      712.00    13940.0
Karnataka                                       1.0     1083.00    83366.5
Kerala                                          1.0      395.50     5204.0
Ladakh                                          2.0       43.00     1208.0
Madhya Pradesh                                  4.0     6810.50    30551.0
Maharashtra                                     2.0    29903.00   347502.0
Maharashtra***                            1723135.0  1723135.00  1723135.0
Manipur                                         1.0       44.00     2621.0
Meghalaya                                       1.0       44.00     1125.0
Mizoram                                         1.0        1.00      440.0
Nagaland                                        0.0      625.00     3784.0
Odisha                                          1.0     1103.00    26892.0
Puducherry                                      1.0       26.00     3011.0
Punjab                                          1.0     1940.50    11739.0
Punjab***                                  140605.0   140605.00   140605.0

In [1]:
import pandas as pd
df=pd.read_csv("C:/Users/User/data.csv")
df

   Unnamed: 0  roll name  marks
0           0     1    a   11.0
1           1     2    b    NaN
2           2     3    c   12.0
3           3     4  NaN   15.0
4           4     5    e    NaN

In [5]:
#forward fill
df=df.fillna(method="ffill")
df

   Unnamed: 0  roll name  marks
0           0     1    a   11.0
1           1     2    b   11.0
2           2     3    c   12.0
3           3     4    c   15.0
4           4     5    e   15.0

In [8]:
#backword fill
df=df.fillna(method="bfill")
df

   Unnamed: 0  roll name  marks
0           0     1    a   11.0
1           1     2    b   12.0
2           2     3    c   12.0
3           3     4    e   15.0
4           4     5    e    NaN

In [10]:
#replace
df["name"]=df["name"].replace({"a":"abc"})
df

   Unnamed: 0  roll name  marks
0           0     1  abc   11.0
1           1     2    b   12.0
2           2     3    c   12.0
3           3     4    e   15.0
4           4     5    e    NaN

In [2]:
print(df.iloc[4:].fillna(0))

   Unnamed: 0  roll name  marks
4           4     5    e    0.0

# group by

#df=pd.read_csv("Teams.csv")

#groupby

#teams=df.groupby("Team")
#print(teams.groupby)

#print(teams.get_group("Kings"))
#print(teams.mean())
#print(teams.sum())
#print(teams.count())
#print(teams.min())
#print(teams.max())